{% extends 'projects/project_base.html' %}
{% load static %}
{% block projectContent %}
    <div class="project__info__participants" id="participant_page">
        <div class="project__info__participants__header">
            <h2>Участники проекта</h2>
            <h2 id="task_page_button">Задачи проекта</h2>
        </div>
        <form action="{% url 'projects:add-participant' project.id %}" method="post">
            {% csrf_token %}
            <input class="textbox" type="email" name="email" placeholder="Email пользователя" required>
            <input type="submit" value="Добавить участника">
        </form>
        <ul class="project__info__participants__list">
            {% for participant in project.participants.all %}
                {% if participant != request.user %}
                    <li class="project__info__participants__list__element">
                        {% if participant.photo %}
                            <div class="project__info__participants__list__element__photo">
                                <img src="{{ participant.photo.url }}" alt="">
                            </div>
                        {% endif %}
                        <p>Фамилия: <b>{{ participant.last_name }}</b></p>
                        <p>Email: <b>{{ participant.email }}</b></p>
                        <form action="{% url 'projects:remove-participant' project.id participant.id %}"
                              method="post">
                            {% csrf_token %}
                            <input type="submit" value="Удалить участника">
                        </form>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    <div class="project__info__tasks" id="participant_tasks">
        <div class="project__info__participants__header">
            <h2 id="participant_page_button">Участники проекта</h2>
            <h2>Задачи проекта</h2>
        </div>
        <div class="create_project">
            <form action="{% url 'projects:create-task' project.id %}" method="post">
                {% csrf_token %}
                <input class="textbox" type="text" name="name" placeholder="Название задачи" required>
                <textarea class="textbox" name="description" placeholder="Описание задачи" required></textarea>
                <div class="form_box">
                    <div class="form_box">
                        <label for="date_to_end">Дата окончания задачи</label>
                        <input class="textbox" type="date" name="date_to_end" id="date_to_end" required>
                    </div>
                    <input class="textbox" type="email" name="email" placeholder="Email участника">
                </div>
                <input type="submit" value="Создать задачу">
            </form>
        </div>
        <ul class="project__info__participants__list">
            {% for task in project.tasks.all %}
                <li class="project__info__participants__list__element">
                    <p>Название: <b>{{ task.name }}</b></p>
                    <p>Статус: <b>{% if task.is_completed %} Закончен {% else %} Незакончен {% endif %}</b></p>
                    <p>Дата окончания: <b>{{ task.date_to_end|date:'d.m.y' }}</b></p>
                    <p>Исполнитель: <b>{{ task.executor.last_name }}</b></p>
                    <form action="{% url 'projects:delete-task' task.id %}" method="post">
                        {% csrf_token %}
                        <a href="{% url 'projects:task-edit' project.id task.id %}" class="button">Изменить</a>
                        <input type="submit" value="Удалить задачу">
                    </form>
                </li>
            {% endfor %}
        </ul>
    </div>
    <script src="{% static 'js/project_page_contoller.js' %}"></script>
{% endblock %}