<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="icon" href="{% static 'images/logo.png' %}">
    <title>Objective Tracking</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    {% block stylesheet %}{% endblock %}
</head>
<body>
<header class="header">
    <div class="header__box">
        <a href="{% url 'projects:index' %}" class="header__box__logo">
            <img src="{% static 'images/logo.png' %}" alt="logo">
        </a>
        <h1 class="header__box__name">Objective Tracking</h1>
        <nav class="header__box__nav">
            <ul>
                <li>
                    <a href="{% url 'projects:create-project' %}">Создать проект</a>
                </li>
                <li>
                    <a href="{% url 'projects:my-task' 0 %}">Мои задачи</a>
                </li>
                <li>
                    <a href="{% url 'users:profile' %}">Профиль</a>
                </li>
                <li>
                    <a href="{% url 'authentication:logout' %}">Выйти</a>
                </li>
            </ul>
        </nav>
    </div>
</header>
<main class="content">
    {% block content %}{% endblock %}
</main>
</body>
</html>